body {
  font-family: 'Silkscreen', cursive;
  text-align: center;
  background: linear-gradient(to bottom, #4e7dbf, #23385f);
  height: 100vh;
}

#board {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./flappybirdbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Added this line */
  border: 10px solid white;
  border-radius: 10px;
}





#startButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
}

#connectButton {
  /* border-radius: 5px; */
  font-family: 'Silkscreen', cursive;
  margin-bottom: 15px;
  margin-top: 10px;
}

#startButton {
  padding: 10px 20px;
  font-size: 24px;
  background: linear-gradient(to bottom, #4e7dbf, #23385f);
  border-radius: 10px;
  border: 3px solid white;
}

/* Media query for mobile screens */
@media (max-width: 768px) {

  #board {
    width: 100%;
    /* Set the width to 100% for mobile screens */
    max-width: 360px;
    /* Set a maximum width to avoid stretching on larger screens */
    border-width: 5px;
    /* Reduce the border width for mobile screens */
  }

  .modal-content {
    /* display: flex; */
    /* margin: 60% auto; */
    /* flex-wrap: nowrap; */
    /* padding: 50px; */
    width: 80%;
    /* word-wrap: break-word; */
    max-height: 100%;
    /* height : 12%;  */
  }


}

#leaderboard {
  text-align: center;
}

#leaderboard h2 {
  margin-bottom: 20px;
}

#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th,
#leaderboard td {
  padding: 10px;
  border: 1px solid #ccc;
}

#leaderboard th {
  background-color: #f2f2f2;
}

#leaderboard tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* The Modal (background) */
.login {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: rgb(68, 189, 0);
  border-radius: 5px;
  /* position: relative; */
  margin: auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Modal (background) */
.profile {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.profile-content {
  background: rgb(68, 189, 0);
  border-radius: 5px;
  position: relative;
  margin: auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  /* overflow: auto; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Modal (background) */
.create {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.create-content {
  background: rgb(68, 189, 0);
  border-radius: 5px;
  position: relative;
  margin: auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  /* overflow: auto; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.input {}

.input::placeholder {

  font-family: 'Silkscreen', cursive;

}

.restart {
  margin-bottom: 3%;
  margin-top: 4%;
  border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

th,
td {
  padding: 8px 15px;
  /* Adjust the values as needed to create the desired gap */
}

hr {
  border-color: rgb(57, 130, 0);
  /* color: rgb(57, 130, 0); */
}



/* Scrollbar track */
#leaderboardBody::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Scrollbar handle */
#leaderboardBody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* Color of the scrollbar handle */
  border-radius: 0px;
  /* Rounded corners */
}

/* Scrollbar track on hover */
#leaderboardBody::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* Color of the scrollbar handle on hover */
}

/* Scrollbar corner (where vertical and horizontal scrollbars meet) */
#leaderboardBody::-webkit-scrollbar-corner {
  background-color: transparent;
  /* Color of the scrollbar corner */
}

.flappyBird {
  color: #f2f2f2;
  font-size: 40px;
  margin: 5% 60px;
}

.profileHeader {
  margin: 10px 30px; 
  width: 350px;
}

@media screen and (max-width: 767px) {
  .flappyBird {
    color: #f2f2f2;
    font-size: 30px;
    margin: 5% 60px;
  }
  .modal-content {
    padding: 0px;
  }
  .profileHeader {
    margin: 10px 30px; 
    width: 320px;
  }
  
}